@use "../../foundation" as f;

/*!
page > detail > detail-kv
------------------------------
*/
.detail-kv-inner {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 140px;

  @include f.mq() {
    grid-template-columns: repeat(2, 1fr);
  }
}

.detail-kv-breadcrumbs-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-kv-breadcrumbs-item {
  font-size: 0.875rem;

  &:not(:last-child) {
    &::after {
      content: "/";
      margin-left: 10px;
    }
  }
}

.detail-kv-breadcrumbs-item-text {
}

.detail-kv-title-link {
  margin-top: 40px;
}

.detail-kv-title-en {
  font-size: clamp(16px, 2.4vw, 20px);
  font-weight: bold;
  font-family: var(--font-family-en);
}

.detail-kv-title-ja {
  font-size: clamp(20px, 3.125vw, 28px);
  font-weight: bold;
  margin-top: 16px;
  line-height: 1;
}

.detail-kv-text {
  margin-top: 20px;
}

.detail-kv-tag {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.detail-kv-tag-item {
  font-size: 0.75rem;
  border-radius: 6px;
  padding: 2px 6px;
  background-color: var(--color-gray-light);
  font-family: var(--font-family-en);
  letter-spacing: 0.1em;
  font-weight: bold;
}

.detail-kv-img {
  margin-top: 50px;
}
