@use "../../foundation" as f;

/*!
page > detail > detail-point
------------------------------
*/
.detail-point {
}

.detail-point-wrap {
  @include f.mq() {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 80px;
  }
}

.detail-point-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-point-list-item {
  font-size: 0.875rem;
  border-left: 3px solid var(--color-gray);
  padding-left: 12px;
  font-weight: bold;

  @include f.mq() {
    width: 350px;
  }

  span {
    display: block;
  }
}

.detail-point-list-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 40px;

  @include f.mq() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 0;
  }

  img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
}
