@use "../../foundation" as f;

/*!
page > works > works-overview
------------------------------
*/
.detail-overview-title {
    font-size: clamp(24px, 3vw, 32px);
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--color-gray);
    font-family: var(--font-family-en);
}

.detail-overview-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 20px;
}