@use "../foundation" as f;

/*!
layout > container
------------------------------
*/
.l-container {
  width: 100%;
  max-width: 75rem; // 1200px
  margin-inline: auto;
  padding-inline: var(--gutter-sm);

  @include f.mq() {
    padding-inline: var(--gutter-lg);
  }
}

.l-container--wide {
  max-width: 87.5rem; // 1400px
}
