/*!
global > color
------------------------------
*/
:root {
  --color-bg-base: #ffffff;
  --color-font-base: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #888888;
  --color-gray-light: #f5f5f5;
  --color-orange: #ff5722;
  --color-blue: #38BDF8;
  --color-border: #e5e7eb;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Dosis", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-negative: -1;
  --z-index-base: 1;
  --z-index-header: 30;
}

/*!
global > content-width
------------------------------
*/
:root {
  --content-width-sm: 800px;
  --content-width-md: 1200px;
  --content-width-lg: 1366px;
}

/*!
global > gutter
------------------------------
*/
:root {
  --gutter-sm: 16px;
  --gutter-md: 24px;
  --gutter-lg: 32px;
}

/*!
foundation > variables
------------------------------
*/
:root {
  --gutter-sm: 16px;
  --gutter-md: 24px;
  --gutter-lg: 32px;
}