@use "../foundation" as f;

/*!
component > cards
------------------------------
*/
.card-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include f.mq() {
    flex-direction: row;
    gap: 40px;
  }
}
